In [2]:
def calculate_grade(marks1, marks2, marks3):
  """
  Calculates the grade based on the average of three subject marks.

  Args:
    marks1: Marks in the first subject.
    marks2: Marks in the second subject.
    marks3: Marks in the third subject.

  Returns:
    str: The calculated grade.
  """
  average = (marks1 + marks2 + marks3) / 3

  if average >= 90:
    return "Grade: A"
  elif 80 <= average < 90:
    return "Grade: B"
  elif 70 <= average < 80:
    return "Grade: C"
  else:
    return "Grade: Fail"

# Get input from the user
marks1 = float(input("Enter marks in subject 1: "))
marks2 = float(input("Enter marks in subject 2: "))
marks3 = float(input("Enter marks in subject 3: "))

# Calculate and print the grade
grade = calculate_grade(marks1, marks2, marks3)
print(grade)

Enter marks in subject 1: 41
Enter marks in subject 2: 23
Enter marks in subject 3: 78
Grade: Fail